<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Home</title>
    <meta name="google-site-verification" content="MBALqw8ksOlnf2cKChnHwYeV1TvnAeOBtOreGSIdRDc" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
